
body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

select {
    background-color: D7E6FA;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#intervals-display {
    padding-top: 30px;  
    padding-bottom: 30px;  
}

#fretboard {
    display: flex;
    flex-direction: column;
  }
  
  .fret {
    position: relative; /* allows us to position children elements */
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  .fret span { /* add styles for the note text */
    position: relative; /* make it appear above the guitar string */
    z-index: 1; /* make it appear above the guitar string */
    font-size: 12px;
  }

  #fret-numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 43px; /* .open-string width + boarder-right */
    margin-bottom: 5px;
  }
  
  .fret-number {
    width: 42px; /* .fret width + boarder-right */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }  

  .fret-inlay {
    display: inline-block;
    width: 42px; /* .fret width + boarder-right */
    /*height: 5px;*/
    text-align: center;
    /*line-height: 5px;*/
    font-size: 12px;
    color: #666;
}

  .string {
    display: flex;
    position: relative; /* allows us to position children elements */
  }
  
  .guitar-string {
    position: absolute; /* allows us to position it over the frets */
    width: 100%; /* stretch across the whole string */
    height: 1px; /* thickness of the guitar string */
    background: rgba(122, 122, 122, 0.5); /* color of the guitar string */
    top: 50%; /* position it in the middle of the string */
  }
  

  .open-string {
    /*border: none;*/
    border-right: 3px solid rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .open-string-border {
    border-right: 3px solid rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-string-text {
    font-size: 12px;
}


  .interval, .note {
    display: inline-block;
    width: 40px;
    text-align: center;
  }

  .row-label {
    display: inline-block;
    width: 130px;
  }

  .hidden {
    visibility: hidden;
}
