
body {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}

select {
    background-color: D7E6FA;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#intervals-display {
  display: flex;
  flex-direction: column;
  padding-top: 30px;  
  padding-bottom: 30px;  
}

#interval-row, #note-row {
  display: flex;
  flex-wrap: nowrap;
}

.interval, .note {
  /*display: inline-block;*/
  /*display: flex;*/
  width: 40px;
  text-align: center;
}

.row {
  display: flex;
}

.row-label {
  /*display: inline-block;*/
  width: 130px;
  flex-shrink: 0;
}


#fretboard {
    display: flex;
    flex-direction: column;
  }

  .fret { /* style the divs acting as the frets */
    position: relative; 
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
  }

  .fret span { /* style the span elements inside hte frets. This is the text itself */
    position: relative; 
    z-index: 1; 
    font-size: 14px;
  }
  
  .open-string-border {
    border-right: 3px solid rgba(0, 0, 0, 0.5);
}
  

  .string {
    display: flex;
    position: relative; /* allows us to position children elements */
  }
  
  .guitar-string {
    position: absolute; /* allows us to position it over the frets */
    width: 100%; /* stretch across the whole string */
    height: 1px; /* thickness of the guitar string */
    background: rgba(122, 122, 122, 0.5); /* color of the guitar string */
    top: 50%; /* position it in the middle of the string */
  }
  


#fret-numbers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*padding-left: 43px;  .open-string width + boarder-right */
  margin-bottom: 5px;
}

.fret-number {
  width: 42px; /* .fret width + boarder-right */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}  

#fret-inlays {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.fret-inlay {
  width: 42px; /* .fret width + boarder-right */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}  

/*
.hidden {
  visibility: hidden;
}
*/

.highlight-bold {
  font-weight: bolder;
}

.highlight-circle {
  background-color: #ff0; /* or any color you want */
  border-radius: 50%; /* makes the background circular */
  padding: 5px; /* add some space around the text */
  /* ensure the text is centered in the circle */
  display: flex;
  align-items: center;
  justify-content: center;
}
